*{ 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
    overflow: hidden;
  }
   
body {
    background-color: #7697A0;
}

  /* remove a linha dos links */
  a{
    text-decoration: none;
  }

  /* ZENAI */
header h1 {
    color: #003D99;
    font-weight: 400;
    font-size: 80px;
    font-weight: bold;
    margin-top: 5%;
}

  /* CAIXA CADASTRO */
  .content{
    color: #94B0B7;
    width: 500px;
    min-height: 680px; 
    /* margin:0px auto; */
    margin-left: 20%;
    position: relative; 
  }

  /* CADASTRO */
  h1{
    font-size: 40px;
    color: #003D99;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    text-align: center;
    margin-top: 50px;
  }

  p {
    font-size: 14px;
    margin-left: 10%;
    margin-top: 10px;
    color: #927373;
  }

  /* LINHA AZUL  */
h1:after{
    content: ' ';
    display: block;
    width: 70%;
    margin-left: 55px;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(74, 88, 209, 0.8) 20%,rgb(18, 15, 180) 53%,rgba(63, 103, 148, 0.8) 79%,rgba(147,184,189,0) 100%); 
  } 

  /* placeholder - CORES DAS COISAS DENTRO DA CAIXA */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  } 
    
  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]){
    width: 85%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #94B0B7;
  }
   
  /*estilo do botão submit */
  input[type="submit"]{
    width: 50%;
    margin-left: 25%;
    cursor: pointer;  
    border-radius: 20%;
    background: #528aa8;
    color: #fff;
    font-size: 20px;  
    -webkit-border-radius: 30px;
    border-radius: 50px;
    transition: all 0.2s linear;
  }

.link{
    position: absolute;
    color: #ffffff;
    left: 260px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
  } 
   
  /* IBOTÃO LOGIN */
  .link a {
    font-weight: bold;
    background: #316cb1;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 15px;  
  }

  #cadastro, 
  #login{
    position: absolute;
    top: 40px;
    width: 85%;   
    padding: 18px 6% 60px 6%;
    border-radius: 15%;
    background: #f7f1f1;
    /* -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both; */
  }
  
  /* Efeito ao clicar no botão ( Ir para Login ) */
  #paracadastro:target ~ .content #cadastro,
  #paralogin:target ~ .content #login{
     z-index: 2; 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft;
  }
   
  /* Efeito ao clicar no botão ( Cadastre-se ) */
  #registro:target ~ .content #login,
  #paralogin:target ~ .content #cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }
   
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }